/* calendar container */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: #1c1c1c;
  border: 1px solid #555555;
  font-family: "Poppins", sans-serif;
  line-height: 1.125em;
  border-radius: 1rem;
  
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* cells */
.react-calendar button {
  margin: 0;
  border: 0.5px solid #555;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
/* Month and navigation for months */
.react-calendar__navigation button {
  font-size: 2rem;
  min-width: 44px;
  background: none;
  color: #676767;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
/* Days of the week */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.75em;
  color: #fff;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
}
/* sat and sun */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
/* Neighbourung months */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
/* entire days number */
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: #fff;
  /* border: 1px solid ; */
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
/* date hover color */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #b1b1b1;
  /* color: #e48f04; */
}
/* newly selected day */
.react-calendar__tile--now {
  background: #e48f04;
  color: #000;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
/* current day */
.react-calendar__tile--active {
  background: linear-gradient(90deg, #f5d061 -1.65%, #e48f04 100%);
  color: #000;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fad502;
  color: #000;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
